.chat-card {
  height: calc(100vh - 140px);
  min-height: 500px;

  app-chat {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
  }
}

@media (max-width: 991.98px) {
  .chat-card {
    height: 500px;
  }
}
